main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

p {
    font-size: large;
}

button{
    font-size: 1rem;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3vh;
}